@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: bold;
  src: url("/fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  src: url("/fonts/Noto_Sans/NotoSans-Italic.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: bold;
  src: url("/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf");
}
